{% extends 'base.html' %}
{% block content %}

   <!--start intro-->

   <div id="intro">
   
   <div class="group_bannner_right">
   <img src="{{ STATIC_URL }}images/picture.png" width="550" height="316"  alt="banner">
   </div>
   
   <header class="group_bannner_left">
   <hgroup>
   <h1>Bem-vindo ao EventeX! </h1>
   <h2>O evento mais sensacional depois do Dev in Rio!</h2>
   <h2>Você não pode perder esta oportunidade!</h2>
   <h2><b><a href="{% url subscriptions:subscribe %}">Inscreva-se já!</a></b></h2>
   <h2>Para dúvidas e mais informações:</h2>
   <h2>Entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a></h2>
   </hgroup>
   </header>
   </div>
   <!--end intro-->

{% endblock content %}
